.footer {
  width: 100%;
}

.footer__container {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  height: 10vh;
}

.footer__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__icons {
  display: flex;
}

.footer__icons div {
  margin-left: 1rem;
}

@media screen and (max-width: 580px) {
  .footer__icons {
    display: none;
  }

  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
