.hero__container {
  width: 100%;
  margin-top: 2rem;
}

.hero__center {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  font-size: 40px;
  background-image: #000;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 3.5rem;
}

.btn {
  border: none;
  background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
  outline: none;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
}

.work__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.paragraph__container p {
  line-height: 1.6;
  font-size: 20px;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.card__container {
  margin-top: 3rem;
}
.card {
  display: flex;
  margin-bottom: 3rem;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 2rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  flex: 1;
}

.card__img__container {
  width: 300px;
}

.card__content__description {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.card__content__rtime {
  margin-bottom: 0.5rem;
  color: dodgerblue;
  font-weight: 100;
}

.card__link {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  color: dodgerblue;
}
