.project__container {
  width: 100%;
}

.project__inner__container {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  align-items: center;
}

.project__title {
  padding: 1rem;
  margin-bottom: 2rem;
}

.project__title__h2 {
  font-size: 40px;
  margin-bottom: 2rem;
  font-weight: 700;
}

.projects__card__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
}
.projects__card__innercontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__card {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  overflow: hidden;
  min-height: 100%;
  border: 2px solid #f2f2f2;
}

.project__card__content {
  padding: 1rem;
}
.project__card__title {
  margin-bottom: 1rem;
}
.project__card__description {
  margin-bottom: 1rem;
  line-height: 1.6;
}
.project__card__link {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.project__card__link :hover {
  color: dodgerblue;
}

.project__card__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .project__card {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .projects__card__container {
    grid-template-columns: 1fr;
  }

  .project__card {
    width: 350px;
  }
}
